<h4>Ground Ops</h4>
<h5>Parking & Taxi</h5>
{{ airport.text_for_taxi_and_parking }}
<h5>De-Icing</h5>
{% if airport.de-_and_anti-icing_yesno == 'NO' %} Nil Procedure 
{% elseif airport.de-_and_anti-icing_yesno == 'UNKNOWN' %} Unknown 
{% elseif airport.de-_and_anti-icing_yesno == 'YES' %} 
	<p><strong>De- and Anti-Icing Provider</strong>{{ airport.de-_and_anti-icing_provider }} </p>
	<p><strong>De- and Anti-Icing Frequency</strong>{{ airport.de-_and_anti-icing_frequency }}</p>
	<p><strong>De- and Anti-Icing Phone</strong>{{ airport.de-_and_anti-icing_phone }}</p>
	<p><strong>De- and Anti-Icing Fluids</strong>{{ airport.de-_and_anti-icing_fluids }}</p>
	<p><strong>De- and Anti-Icing Info</strong>{{ airport.de-_and_anti-icing_info }}</p>
{% endif %}

{% include 'navbutts.twig' %}