<h4>WX/Notams</h4>
<div class="metar-taff">
	<h5>METAR/TAF:</h5> {{ metartaf }}	
</div>
<h5>Weather Information</h5>
<div class="weather">
	{{ weather_shortcode }}
</div>
<h5>General WX Info:</h5> {{ wx_general_info }}		
<h5>NOTAM:</h5>
{% if notams %}
	{% for notam in notams %} 
			<p>{{ notam }}</p>
	{% endfor %}
{% else %}
	 not available
{% endif %}

{% include 'navbutts.twig' %}