<h4>Cities</h4>
<h5>Cities that are close to this airport</h5>
<p><br></p>
{%  if cities %}

<ul class="search">        		
	{% set i = 0 %}
    {% for i in 0.. guids|length -1 %}         		      
    	<li class="search">	    
<!--		
			<div class="foto">											
				<div class="centered">	
						<a href="{{ guids[i] }}">	
							{% if gallery[i].sizes %}
								<img src="{{ gallery[i].sizes.thumbnail }}" alt="{{ gallery[i].alt }}" width="180px" height="80px">
							{% else %}
								<img class="img" src="{{ gallery[i].street_view_photo }}">
							{% endif %}					
					    </a>
				</div>
			</div>
 -->	
			<div class="place_type">					
				<img src="{{ upload_dir }}/place_1.png">
			</div>
			<div class="posttitlr">
				<p>		
					<a class="search" href="{{ guids[i] }}">	
						{{ titles[i] }}, {{ country.official_country_name }}
					</a>
				</p>							
			<div>
	
						<a class="search" href="{{ guids[i] }}">	
							<div class="searchbutton">More</div>
						</a>							
        </li>          
        {% set i = i + 1 %}
    {% endfor %}       		 		
</ul>  
{%  endif %}
<div id="cities_map"></div>	 
{% include 'navbutts.twig' %}
  
  
<script>
	var $map2, center;
	$cities = {{ cities_coord|json_encode|raw }};
	$titles = {{ titles|json_encode|raw  }};
	var $amarker =[];	
	$ = jQuery.noConflict();
	$(document).ready(function(){
			$( "a:contains('Cities')" ).on('click', '', function(e){      
				e.preventDefault();				
				//if(!$map2){
					initialize();
				//}				
			});
	});

function initialize(){
	var mapOptions2 = {
		center: new google.maps.LatLng({{ google_map.lat }}, {{ google_map.lng }}), 
		zoom: 9,
		mapTypeId: 'roadmap'
	};

	setTimeout(function(){
		$map2 = new google.maps.Map(document.getElementById("cities_map"),mapOptions2); 
 		for (var $i = 0; $i < $cities.length; $i++) {
			 $cities_coord = {lat: Number($cities[$i]['lat']), lng: Number($cities[$i]['lng'])};
			 $amarker[$i]= new google.maps.Marker({
          		position: $cities_coord,
          		map: $map2,
          		title: $titles[$i],
        	});
	}
	},1000);
}
</script>