<h4>Gallery</h4>
{% if airport.gallery %}
<!-- add ul class .card-gallery -->
    <ul class="card-gallery">
        {% for image in airport.gallery %}
          	<!-- add li class .card-list-gallery -->
            <li class="card-list-gallery">
                <a href="{{ image.url }}">
                     <img src="{{ image.sizes.thumbnail }}" alt="{{ image.alt }}" />
                </a>
                <p>{{ image.caption }}</p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% include 'navbutts.twig' %}