<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF0N3AqZpy25gKyVPqayaEswt749qPJ4M"></script> 

<div class="acf-map">
	<div class="marker" data-lat="{{ airport.google_map.lat }}" data-lng="{{ airport.google_map.lng }}"></div>
{{ airport.google_map }}
</div>

<h4>Overview</h4>
<h5>Runway Info</h5>
        <ul>
        {% for characteristics in runway %}
            <li>
            	<strong>RWY:</strong> {{ characteristics.name }} {{ characteristics.surface }} {{" #{characteristics.length_m|round}m "}} x {{" #{characteristics.width_m|round}m "}} 
            	{% if characteristics.pcn_code %} </br> <span style="margin-left:2rem;">PCN:&nbsp;{{ characteristics.pcn_code }} </span> {% endif %}
            </li>
        {% endfor %}
        </ul>
        <p><strong>Elevation:</strong> {{ airport.elevation_f }} ft</p>
        <p><strong>Density Attitude:</strong> {{ dens_alt|round }} ft</p>
		<p>MSA: {{ airport.msa }} {% if airport.msa %} ft {% endif %}</p>
		<p>Terrain outside 25nm: {{ airport.terrain_outside_25nm }} </p>
		<p>Airport Category: {{ airport.airport_category }} </p>
		<table class="intab">
			<tr>
				<td>AD hours: {{ airport.airport_hours }} </td><td>Airport of Entry: {{ airport.airport_of_entry }} </td><td> Airport use: {{ airport.airport_type_1 }} </td>
			</tr><tr>
				<td>Local Time = UTC<span class="lt"></span> </td><td> Daylight Saving Time: <span class="dst"></span></td><td> </td>
			</tr>
		</table>
		<h5>Communications</h5>		
		<table class="intab">
			{% set myCount = 1 %}
			{% for com_characteristics in airport.atis %}               
				<tr>
					<td>
						{% if myCount == 1 %} D-ATIS: 
								{% if airport.d-atis != '0' %} {{ airport.d-atis }} 
								{% else %} Unknown {% endif %}
						{% endif %}
						{% if myCount == 2 %} PDC/CDL: {{ airport.pdccdl }} {% endif %}						 
					</td>
					<td>ATIS {{ com_characteristics.frequency }} {{ com_characteristics.deparr }} </td><td> ATIS Phone: {{ airport.atis_phone }} </td>
					{% set myCount = myCount + 1 %}
				</tr>
			{% endfor %}				
				<tr>
					<td>CPDLC: {{ airport.cpdlc }} </td><td colspan="2"></td>
				</tr>
				<tr>
					<td>Handling: {{ airport.handling_agent_name }} </td><td>Freq: {{ airport.handling_agent_frequency }}</td><td>Phone: {{ airport.handling_agent_phone }}</td>
				</tr>
				<tr>
					<td>Airport Manager: {{ airport.airport_manager_name }} </td><td>Freq: {{ airport.airport_manager_frequency }}</td><td>Phone: {{ airport.airport_manager_phone }}</td>
				</tr>			
		</table>
		<h5>Fire Service</h5> 		
		<p> {{ airport.rff }} &nbsp;&nbsp;&nbsp; Freq: {{ airport.fire_services_frequency }}</p>
		<p>{{ airport.fire_services_notes }}</p>		
{% include 'navbutts.twig' %}