<style>
		a.inline { display: inline-block; vertical-align: middle; max-width: 65%; }
		a.inline img { margin: -0.5em 0 0.5em 0;}
</style>
{% if edit == 'show' and submit == 'edit' %}
		<div class="container-fluid">
		{% if disabled %} 
					<p class="text-right font-weight-bold">Pending Edit Under Review</p>
		{% else %}
				<button id="editbutton"
					onclick="window.location='{{ ref }}?mode=editing'; return false;" class="button_offblock right" {{ disabled }} >Edit</button>
		{% endif %} 
		</div>
{% elseif edit == 'show' and submit == 'save' %}
	<form id="post" class="acf-form" action="" method="post">
	<div class="row">
		<div class="acf-form-submit">
        	<input type="submit" class="acf-button button buttonedit button-primary button-large" value="Save">
        	<span class="acf-spinner"></span>
    	</div>
    </div>
{% endif %}
<!-- Buttons Next/Prev -->
<!--
<button type="image" style="width: 8%;" href="#" class="mbl inline back" onclick="javascript:goback()">
	<img src="{{ path }}/views/images/back-arrow.png" alt="Go Back" title="Go Back">
</button>
<button type="image" style="width: 8%;" href="#" class="mbl inline back" onclick="javascript:goforward()">
	<img src="{{ path }}/views/images/forward-arrow.png" alt="Go Forward" title="Go Forward">
</button>
-->

<a href="{{ ref }}" class = "inline">
<!-- Header Airport Style -->
	<div class="composite_header">
	<i class="fa fa-map-marker" aria-hidden="true"></i>
	<h2 class="composite_header">{{ airport.icao }}, {{ airport.iata }}</h2><br> 
		 <p class="composite_header"> {{ airport.airport_name_long }}, {{ country.official_country_name }} </p>
	</div>
</a>
<!--
<div class="time_info">
	<p>Local Time: <span id="time"></span></p>
	<p>Sunrise: {{ sunrise }}</p>
	<p>Sunset: {{ sunset }}</p>
</div>
-->
<div class="time_info">
	<p><i class="fa fa-clock-o" aria-hidden="true"></i>Local Time: <span id="time"></span></p>
<!--<p><i class="fa fa-clock-o" aria-hidden="true"></i><span>Local Time:</span> {{ localtime }}</p> -->
	<p><i class="fa fa-sun-o" aria-hidden="true"></i><span>Sunrise:</span> {{ sunrise }}</p>
	<p><i class="fa fa-moon-o" aria-hidden="true"></i><span>Sunset:</span> {{ sunset }}</p>
</div>

<script type="text/javascript">
	var lat = {{ location.lat }};
	var lng = {{ location.lng }};

	$timezone = '{{ timeZone }}';
	$LT_abbr = '{{ abbreviation }}';
	jQuery('#time').text(moment.tz($timezone).format('HH:mm'));
	$utcoffset = moment.tz($timezone).utcOffset();
	jQuery( document ).ready(function() {
		if($isdst = moment.tz($timezone).isDST()){ jQuery('.dst').html('DST'); }
		else{ jQuery('.dst').html('No DST'); }
		if($LT_abbr){jQuery('span.lt').html(($utcoffset>=0 ?"+":"")+$utcoffset/60); }
	});
	
	jQuery(function(){
  	setInterval(function(){
			jQuery('#time').text(moment.tz($timezone).format('HH:mm'));
  	},5000);  	
	});
		jQuery( document ).ready(function() {		


			var times = SunCalc.getTimes(new Date(moment.tz($timezone).format()), lat, lng);

			// format sunrise time from the Date object
			var sunriseStr = times.sunrise.getHours() + ':' + times.sunrise.getMinutes();
			var sunsetStr = times.sunset.getHours() + ':' + times.sunset.getMinutes();
				

			$current = jQuery('span.wu-day-current-temp:contains("0")');
			$forecast_days = jQuery('.wu-forecast-header .wu-day-title:contains("Currently")');
			if($current && $forecast_days) {
				$forecast_days.closest('div.weather').hide();
				$forecast_days.closest('div.weather').after('<p> Weather info is not available</p>');
			}
			
		});
</script>