<h4>General</h4>
<h5>General Information</h5>
{{ airport.general_info }}
<h5>Noise Abatement</h5>
{{ airport.text_for_noise_abatement }}
<h5>Air safety</h5>
{{ airport.text_for_air_safety }}
<h5>Customs</h5>
<p> Customs opening hours {{ airport.customs_hours }}</p>
<p>{{ airport.custom_info }}</p>
<h5>Immigrations</h5>
<p> Immigration opening hours {{ airport.immigrations_hours }}</p>
<p>{{ airport.immigrations_info }}</p>

{% include 'navbutts.twig' %}