{% if form %}
        <input type="hidden" id="changed" name="changed" value="off">
        <input type="hidden" id="changed_fields_array" name="changed_fields_array" value="">
    </form>

<script type="text/javascript">
jQuery(document).ready(function() {
	$ = jQuery.noConflict();

    //var $elements = $('#list .element');
    $('input').on('input keyup', function(e) {
    	$('input#changed').val( 'on' );   	   	
    });
	
		
	// Know, what fields is changed
	$('input, select, textarea').change(function(e){
    	var $input = $(this);
    	var $parent;
    	var $value = this.value;  
		/***** IF THIS INPUT PERTAIN TO GOOGLE MAPS AND IT IS INPUT OF SEARCH, IT HAS NO NAME NO VALUE */
    	if(this.name == ""){
			$addr = $('input.input-address');
			$label_text = $addr.attr('name');
    	}
    	else{
			$label_text = this.name;
    	}
    	/***** THIS FIELD IS RELATIVES - CITY, GALLERY, ETC. ****/
    	if(this.value==""){
    		$fields = $("input[name='"+this.name+"[]']");
    		for($i=0;$i<$fields.length;$i++){
    			$value += $fields[$i]['value']+"/";
    		}
    	}    	

        $old_val = $('#changed_fields_array').val();
		$('#changed_fields_array').val($old_val + $label_text+"|"+$value+"%");
        $('input#changed').val( 'on' );
	});
});
</script>
{% endif %}
