<div class="card-place-approved container cpa-position">
<div class="card-place-button-approved">
  <button class="right button_offblock read_more_button_approved card-close-btn">Close</button> 
</div>
{% set count_db_photo = images_from_db|length %}
{% for key, photo in  images_from_db if key < 4 %}    	    	  
          {% if photo %}          	
    	  	<div class="img-responsive approved_place_photo">	          		
    	  		<img class="" width="170px" heigth="170px" src="{{ photo.sizes.thumbnail }}">                 	  			      
    	  	</div>          

    	  {% endif %}	
{% endfor %}  
{% for key, photo in  place_from_google.photos if key < 4 - count_db_photo %}    	    	  
          {% if photo %}          	
	    		<div class="img-responsive approved_place_photo">	          			    	  			
    		  		<img class="" width="170px" heigth="170px" src="{{ photo }}">                 			  			         
    	  		</div>         
    	  {% endif %}	
{% endfor %}  
<h5 class="card-approved-title pl_name">{{ title }} </h5> 
	<div class="card-approved-description no_bottom place_type">
		<p>{{ type|capitalize }}</p>
		</div>
	<div class="card-approved-overview">
		<p>{{ overview }}</p>
	</div>	
	<div class="pull-right">
		<img class="approved_stamp" src="{{ approved_image }}">
	</div>
	<div class="card-approved-working-time">
		<p>Opening time are:</br><i class="fa fa-clock-o"></i>
		  {% if place.opening_times %}
			{% for day in place.opening_times %}
				{{ day.opening_time }} {{ day.week_day }}</br>
			  {% endfor %}
		  {% else %}
			not available;
		  {% endif %}
		</p>
	</div>	
	<div class="card-approved-phone">
		<p> Phone 
		  {% if place.phone_number %} 
			<i class="fa fa-phone"></i>{{ place.phone_number }} 
		  {% else %}
			not available;
		  {% endif %}- 
		  <i class="fa fa-location-arrow" aria-hidden="true"></i> {{ place.address }} </p>
	</div>
	<div class="website-link"><i class="fa fa-link" aria-hidden="true"></i><a href="{{ place.website }}">{{ website|trim('http://') }}</a></div>
<div id="app_pl_map"></div>
<button class="right button_offblock read_more_button_approved card-close-btn">Close</button>

<p class="comment_head">From the offblocks community...</p>
<ul class="commentlist">
 {% if comments %} {{ comments }} {% else %} There are no comments yet. Your one may be the first! {% endif %}
</ul>
{{ comment_form }}
</div>
<script>
    jQuery(document).ready(function () {          
        var uluru = {lat: {{ place.google_map.lat }}, lng: {{ place.google_map.lng }}};
        var map = new google.maps.Map(document.getElementById('app_pl_map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });      
     });
</script>