{% include 'search.twig' with {'header': 'Airports', 'posts': airports, 'upload_dir': upload_dir } %}
<div id="airports_map"></div>		

{% include 'navbutts.twig' %}

<script>
	var map, center;
	$airports = {{ airports|json_encode|raw }};
	var $amarker =[];
$(document).ready(function(){			
			$( "a:contains('Airports')" ).on('click', '', function(e){      
				e.preventDefault();				
				if(!map){
					initialize();
				}
					/*center = map.getCenter();
					google.maps.event.trigger(map, "resize"); //this fix the problem with not completely map
					map.setCenter(center);
					console.log(center);
					*/					
			});
});
function initialize(){
	var mapOptions = {
		center: new google.maps.LatLng({{ google_map.lat }}, {{ google_map.lng }}), // ;o)
		zoom: 9,
		mapTypeId: 'roadmap'
	};
	map = new google.maps.Map(document.getElementById("airports_map"),mapOptions); //this can't have va
	for (var $i = 0; $i < $airports.length; $i++) {
			 $airports_coord = {lat: Number($airports[$i]['google_map']['lat']), lng: Number($airports[$i]['google_map']['lng'])};
			 $amarker[$i]= new google.maps.Marker({
          		position: $airports_coord,
          		map: map,
          		title: $airports[$i]['title'],
        	});
	}

}
</script>
