<h4>Quick Facts</h4>
<div style="display: inline-block;" class="col-md-12">
<div class="offset-40 whitedv def_div pull-right col-xs-12 col-md-6">
	<h4>{{ title }}<br></h4>
	<p>{{ day_of_week }} {{ time }}</p>
	{{ weather_current }}
</div>
{{ city.city_overview }}
</div>
	{% for socket in country.sockets %}
		<div class="{{ socket }} pull-right col-xs-12 col-md-6"></div>
	{% endfor %}
	{% set i = 1 %}
	<p>Language:
		{% for language in languages %}
			{{ language.language }} 
			{% if languages|length > i %} & {% endif %}
			{% set i = i + 1 %}
		{% endfor %}
	</p>
	<p>Currency: &nbsp;
		{% for currency in currencies %}
			{{ currency.post_title }} - {{ currency.currency_code }} - {{ currency.unit }}/{{ currency.sub_unit }} {{ currency.sub_division }}
		{% endfor %}
	</p>

	<p>The Population of {{ title }} is: {{ city.population_of_city }} </p>
	{% if country.chatsim %}
		<p>ChatSim works in {{ country.official_country_name }}</p>
	{% endif %}
	{% set i = 1 %}
	<p>Electric Plug Type: {{ country.official_country_name }} - {{ country.voltage }} - 
		{% for plug in country.plugs %}
			{{ plug }}
			{% if country.plugs|length > i %} & {% endif %}
			{% set i = i + 1 %}
		{% endfor %}
	</p>
{% include 'navbutts.twig' %}