<div id="demo"></div>
{% if edit == 'show' and submit == 'edit' %}
		<div class="container-fluid">
		{% if disabled == 'disabled' %} 
					<p class="text-right font-weight-bold">Pending Edit Under Review</p>
		{% else %}				
					<button id="editbutton"	onclick="window.location='{{ ref }}?mode=editing'; return false;" 
							class="pll prl right btn-primary button-large" {{ disabled }}>Edit</button>
		{% endif %} 
		</div>
{% elseif edit == 'show' and submit == 'save' %}
	<form id="post" class="acf-form" action="" method="post">
	<div class="row">
		<div class="acf-form-submit">
        	<input type="submit" class="acf-button button button-primary button-large" value="Save">
        	<span class="acf-spinner"></span>
    	</div>
    </div>
{% endif %}	
<!-- Buttons Prev/Next in header -->
<!-- 
<button type="image" style="width: 8%;" href="#" class="mt-0 inline-block back" onclick="javascript:goback()">
	<img src="{{ path }}views/images/back-arrow.png" alt="Go Back" title="Go Back">
</button>
<button type="image" style="width: 8%;" href="#" class="mt-0 inline-block back" onclick="javascript:goforward()">
	<img src="{{ path }}views/images/forward-arrow.png" alt="Go Forward" title="Go Forward">
</button>
-->

<a href="{{ city_ref }}" class="inline-block">
	<div class="composite_header">
	<i class="fa fa-map-marker" aria-hidden="true"></i>
	<h2 class="composite_header">{{ title }}</h2> <br> 
		 <p class="composite_header"> {{ country.official_country_name }} </p>
	</div>
</a>

<div class="time_info">
	<p><i class="fa fa-clock-o" aria-hidden="true"></i><span>Local Time:</span> {{ localtime }}</p>
	<p><i class="fa fa-sun-o" aria-hidden="true"></i><span>Sunrise:</span> {{ sunrise }}</p>
	<p><i class="fa fa-moon-o" aria-hidden="true"></i><span>Sunset:</span> {{ sunset }}</p>
</div>

{% if place_upd %}
  <div class="updated">
    Place has been sent for approval.
  </div>
{% endif %}
<div id="loading">Loading places...</div>

<script>
var $ajax_get_results = '{{ ajax_get_results }}';
		$post_id = {{ post_id }};
jQuery( document ).ready( function( $ ) {
    if ( $( ".updated" ).length ) { $(".updated").fadeOut(7000); }
});
$logged_in_all = {{ logged_in_all }};
</script>