<div class="row header-place">
    <div class="col-lg-9 col-md-9">
      <h4>{{ header }}</h4>
    </div>
    <div class="col-lg-2 col-md-2 pll btn-add-place">
        <button id="addplace" type="button" class="btn btn-primary">Add place</button>
    </div>
</div>

 {% for place in places %} 
  {% if not (place.hidden == 'true') and ( not (place.place_id in approved_places_id) or place.approved) %} 
	    <div data-pending = "{{ place.is_pending }}" id="{{ place.place_id }}" class="col-lg-3 col-md-4 col-sm-6 col-12 card-place-block google_place def_div 
                                            {% if place.weekday_text %} cached {% endif %} 
                                            {% if place.approved %} approved {% endif %}">
		  {% for photo in place.photos %}    	
        {% if loop.first %} 
           {# if photo.url #}
    	       	<div id="{{ photo.url }}" class="img-responsive pull-right photo_of_place 
    	  				{% if place.approved %} border-black {% else %} border-white {% endif %}">	          		
    	  		    <img class="" width="150px" height="150px" src="{{ photo.urlap }}">             
    	  	    </div>
					 {# endif #}
    	  {% endif %}	
    	{% endfor %}  
      <button class="right button_offblock in_list_button 
      {% if place.approved %} read_more_button_approved card-approved-btn {% else %} card-read-more-btn read_more_button {% endif %}">Read more</button>
	
      <h5 class="pl_name">{{ place.name }} </h5> 
      <p class="no_bottom place_type">
    	  {% for type in  place.types %}    	
 			     {% if loop.first %} {{ type|capitalize }} 
 			     {% else %} {{ type }} {% endif %}
 			     {% if loop.index != place.types|length %},{% endif %}
    	  {% endfor %}
	    </p>
		  <p class="no_bottom">{{ place.rating }} 
			     {% set num = place.rating|round(0, 'floor') %}
			     {% for i in 1..num %}
				       <i class="demo-icon icon-star">&#xe800;</i>
			     {% endfor %}
			     {% if place.rating|round > num %}<i class="demo-icon icon-star">&#xf123;</i>
			     {% elseif place.rating != num %}<i class="demo-icon icon-star">&#xe801;</i>{% endif %}
    	 </p> 
	   {% if place.approved %}         
          {{ place.review }} 
          <p id="working_times">       
          <i class="icon-place fa fa-link" aria-hidden="true"></i> {% if place.website %} {{ place.website | slice(0,30) ~ '...'  }} {% else %} &nbsp;&nbsp; - {% endif %} <br>
          <i class="icon-place fa fa-phone"></i> {% if place.phone_number %} {{ place.phone_number }} {% else %} &nbsp;&nbsp;- {% endif %} <br>    
          {#################################OPENING HOURS###############################}
          <i class="demo-icon icon-clock">&#xe808;</i>
              {% if place.opening_hours.open_now %} Opened
              {% else %} Closed {% endif %}
              now {{ place.weekday_text }}
        </p>        
	   {% else %}
    {#################################OPENING HOURS###############################}
    	   <p id="working_times"><i class="demo-icon icon-clock">&#xe808;</i>
      	   	{% if place.opening_hours.open_now %} Opened
      	 	  {% else %} Closed {% endif %}
      		  now {{ place.weekday_text }}
    	   </p>  
       {% endif %}  
		
       <div id="map"></div>
	   </div>  
  {% endif %}
{% endfor %}

{% include 'navbutts.twig' %}

<script>
$path =  "{{ path }}";
var $city_id= {{ city_id }};
$logged_in = {log:{{ logged_in }}};
$ajax_nonce_app = '{{ ajax_nonce_app }}';
$lat = {{ location.lat }};
$lng = {{ location.lng }};
$ajax_nonce = '{{ ajax_nonce }}';
if(typeof $place_type == 'undefined') { $place_type = ['{{ type }}'];}
else {$place_type.push('{{ type }}');}
</script>