<div id="{{ place.place_id }}" class="def_div {% if place.weekday_text %} cached {% endif %}">
		{% for photo in  place.photos %}    	
    	  {% if loop.first %} 
          {% if photo.url %}
    	  	<div class="img-responsive pull-right photo_of_place">	          		
    	  		<img class="" width="150px" height="150px" src="{{ photo.url }}">             
    	  	</div>
          {% endif %}  
    	  {% endif %}	
    	{% endfor %}  

    <h5 class="pl_name">{{ place.name }} </h5> 

    <p class="no_bottom">
    	{% for type in  place.types %}    	
 			  {% if loop.first %} {{ type|capitalize }} 
 			  {% else %} {{ type }} {% endif %}
 			  {% if loop.index != place.types|length %},{% endif %}
    	{% endfor %}
	</p>
    <p class="no_bottom">{{ place.rating }} 
		{% set num = place.rating|round(0, 'floor') %}
		{% for i in 1..num %}
			<i class="demo-icon icon-star">&#xe800;</i>
		{% endfor %}
		{% if place.rating|round > num %}<i class="demo-icon icon-star">&#xf123;</i>
		{% elseif place.rating != num %}<i class="demo-icon icon-star">&#xe801;</i>{% endif %}
    </p>    
    {#################################OPENING HOURS###############################}
    <p id="working_times"><i class="demo-icon icon-clock">&#xe808;</i>
      {% if place.opening_hours.open_now %} Opened
      {% else %} Closed {% endif %}
      now {{ weekday_text }}
    </p>
	</br>	
	</div>