a.inline{
	display: inline-block;
	vertical-align: text-bottom;
  max-width: 75%;
}
a.inline img{
	margin: -0.5em 0 0.5em 0;
}
/*****************************************************************************
/*******************************************ICONS, WEATHER, QUICK FACTS*******/

.u-tab-class .wu-icon {
    float: left !important;
}
.u-tab-class .A, .u-tab-class .B, .u-tab-class .C, .u-tab-class .D, .u-tab-class .E, .u-tab-class .F, .u-tab-class .G, .u-tab-class .H, 
.u-tab-class .I, .u-tab-class .J, .u-tab-class .K, .u-tab-class .L, .u-tab-class .M, .u-tab-class .N, .u-tab-class .O{
  background-image: url(../socket_adapter_types_end.jpg); 
  height: 140px;
  width: 150px; 
  margin-top: 50px;
}
.u-tab-class .A{ background-position: 0px 0px; }
.u-tab-class .B{ background-position: -145px 0px; }
.u-tab-class .C{ background-position: -287px 0px; }
.u-tab-class .D{ background-position: -422px 0px; }
.u-tab-class .E{ background-position: -565px 0px; }

.u-tab-class .F{ background-position: 0px -175px; }
.u-tab-class .G{ background-position: -145px -175px; }
.u-tab-class .H{ background-position: -287px -175px; }
.u-tab-class .I{ background-position: -422px -175px; }
.u-tab-class .J{ background-position: -565px -175px; }

.u-tab-class .K{ background-position: 0px -350px; }
.u-tab-class .L{ background-position: -145px -350px; }
.u-tab-class .M{ background-position: -287px -350px; }
.u-tab-class .N{ background-position: -422px -350px; }
.u-tab-class .O{ background-position: -565px -350px; }

.u-tab-class .wu-wrapper table th, .u-tab-class .wu-wrapper table td {
    width: unset;
    padding: 9px 3px;
}

.u-tab-class .wu-wrapper table th, .u-tab-class .wu-wrapper table td:hover {
    background-color: #eeeee9;
    border: 2px;
    border-radius: 5px;
    border-color: #aaa;
}

.u-tab-class .wu-forecast-wrapper .wu-cond-highlow .wu-cond-high, .u-tab-class .wu-forecast-wrapper .wu-cond-highlow .wu-cond-low {
    padding-right: .2em;
    color: unset;    
    font-size: 0.805em;
}
.u-tab-class .wu-forecast-wrapper .wu-cond-highlow .wu-cond-high{    
    font-weight: 900;
}
.u-tab-class .wu-current-conditions .wu-day-title small {
    padding: 0.7rem;
}
.u-tab-class .wu-current-conditions .wu-day-title {
    font-size: 60px;
}
.u-tab-class .whitedv h4, .u-tab-class .whitedv p{margin-bottom:0.1rem;}
/*****************************************************GOOGLE PLACES****************************************/

#loading {
    position: absolute;
    top: 310px;
    left: -10%;
    width: 100%;
    height: 50px;
    background: url(../lg.palette-rotating-ring-loader.gif) no-repeat center center;
    display: none;
    background-size: 65px;
    z-index: 10000;
    text-align: center;
    padding-left: 270px;
    font-size: 28px;
    color: #5957a0;
    padding-top: 5px;
    font-weight: 600;
}

.google_place{
	width:90%;
	background-color: #a2a2a2;
	display: inline-block;
	margin: 1% 0;
    height: auto;
    padding-bottom: 5px !important;
}
 .demo-icon
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;      
      text-align: center;
      
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;     
      
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;     
    }
p.no_bottom{ margin-bottom: 0;}
.photo_of_place{
	overflow: hidden;	
    position: relative;
    width: 150px;
    margin-top: 5px;
}
.photo_of_place img {
    max-width: 100%;
    height: 150px;
		object-fit: cover;
}
.google_place .read_more_button, .google_place .read_more_button_approved{    
    background-color: #fff;    
    border-radius: 5px;
    font-size: 12px;
}
.in_list_button {
   margin: 15% 3px 0 0;
}
.google_place .close_app_place {    
    background-color: #fff;    
    border-radius: 5px;
    font-size: 12px;    
}
/**************for place form**********************/

.u-tab-class .acf-label {
    display: inline-block;
    /*float: left;
    width: 10%;*/
}
.u-tab-class .acf-input-wrap, .u-tab-class .acf-field textarea{
    width: 60%;
}
.u-tab-class .acf-field .acf-input {
    display: flow-root;
}

.u-tab-class .acf-fields > .acf-field {
    border-top: 0;
}
.u-tab-class input, textarea {
    width: 100%;
}
.u-tab-class .acf-field input[type="text"], .u-tab-class .acf-field input[type="password"], .u-tab-class .acf-field input[type="number"], 
.u-tab-class .acf-field input[type="search"], .u-tab-class .acf-field input[type="email"] {
    font-size: 20px;
    line-height: 1.4;
    height: 1.5em;
    width: 80%;
}
.u-tab-class .acf-field input[type="url"] {
    font-size: 16px;
    width: 80%;
}
.u-tab-class .acf-field select {
    font-size: 14px;
    line-height: 1.5;
    height: 3em;
    width: 100%;
}
/*.u-tab-class .acf-field-gallery {
    width: 40%;
    position: absolute !important;
    top: 0px;
    right: 10px;
}
.u-tab-class .acf-field-gallery .acf-label {
    display: upset;
    float: none;
    width: 100%;
}*/
.u-tab-class .acf-field textarea {
    padding-right: 50px;
}
/*@media (min-width: 992px){
  .acf-form-submit {
      margin-left: 75% !important;
  }
}*/
div.u-tab-class .def_div {
}
article.place div.u-tab-class {
    padding-top: 3%;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.updated{
    display: block;
    color: #000;
    border: 1px;
    border-color: #576725;
    text-align: center;
    border-radius: 3px;
    position: fixed;
    top: 230px;
    width: 50%;
    z-index: 400;
    height: 2em;
    font-size: 30px;
    margin: 0 5%;
    background-color: #c4d873;    
}
.approved{
  background-color: #fff2cc;
}
.border-white{
  border: #DFDFDF solid 1px;
}
.border-black{
  border: #000 solid 1px;
}
.place_type{
  font-size: 0.9em;
  margin-top: -1em;
}
.approved_place_photo
{
  display: inline-block !important;  
  overflow: hidden; 
  position: relative;    
  margin-top: 5px;
  height: 170px;
  width: 170px;
}
.approved_place_photo img {    
    height: 170px !important;
    padding: 0;
    width: 170px;
    object-fit: cover;
}
.addr_website_phone{  
    font-size: 0.9em;
    line-height: 1em;
}
#app_pl_map {
 height: 400px;
 width: 75%;
 margin-top:20px;
}
 #airports_map {
 height: 450px;
 width: 95%;
}
.pull-right img.approved_stamp {
  float: inherit;
  width: 50%;
}
ul.commentlist {
    font-style: italic;
}
p.comment_head {
    font-style: italic;
    color: #a76101;
}
cite.fn {
    font-style: italic;
    font-weight: bold;
}
form#commentform .form-submit {    
    float: right;
}
@media (min-width: 992px){
  div.posttitlr {  
      width: 27rem !important;
  }
}
@media (max-width: 992px) and (min-width: 550px )
{
  div.posttitlr {
    width: 18rem;
  }
  .searchbutton {
    margin-left: 2rem;
  }  
}
@media (max-width: 768px) and (min-width: 320px )
{
  ul.search {  
    margin-left: 0 !important;
  }  
}
@media screen and (max-width: 1024px) {
    .u-tab-class>a {
        font-size: 0 !important;
    }
    .u-tab-class>a:before{
        margin: 0;
        font-size: 18px;        
        font-family: fontello;  
    }
    article.city li.u-tab-class:nth-of-type(1)>a:before {                
        content: "\e803";
    }
    article.city li.u-tab-class:nth-of-type(2)>a:before {                
        content: "\f0f5";
    }
    article.city li.u-tab-class:nth-of-type(3)>a:before {                
        content: "\f124";
        font-family: "fontello";
    }
    article.city li.u-tab-class:nth-of-type(4)>a:before {                
        content: "\e809";
        font-family: "fontello";
    }
    article.city li.u-tab-class:nth-of-type(5)>a:before {                
        content: "\f0ca";
        font-family: "fontello";
    }
    article.city li.u-tab-class:nth-of-type(6)>a:before {                
        content: "\e80c";
    }
    article.city li.u-tab-class:nth-of-type(7)>a:before {                
        content: "\e80a";
    }
    article.city li.u-tab-class:nth-of-type(8)>a:before {                
        content: "\e811";
    }
}
.message_box{ 
  border: 1px solid #ccc; 
  padding: 5px 10px;
}