  <div class="navbutts mtl">  
    <button type="image" style="width: 8%;margin: 0 !important;" href="#" class="inline back" onclick="javascript:goback()">
		  <img src="{{ path }}/views/images/back-arrow.png" alt="Go Back" title="Go Back">
	  </button>
		 <button type="image" style="width: 8%;margin: 0 !important;" href="#" class="inline back" onclick="javascript:goforward()">
	  	<img src="{{ path }}/views/images/forward-arrow.png" alt="Go Forward" title="Go Forward">
	  </button>
  </div>