<h4>{{ header }}</h4>
<div id="content" class="col-full">    	
	<section id="main" class="col-left">		
		<div style="clear:both;"></div>    	
			{% if posts %}
        	<ul class="search">        		
        		{% for post in posts %}
          				<li class="search">	        					          			
						<div class="foto">											
							<div class="centered">	
								<a href="{{ post.permalink }}">
									{% if post.gallery[0] %}	
										<img src="{{ post.gallery[0].sizes.thumbnail }}" alt="" width="180px" height="80px">		
									{% else %}
										<img class="img" src="{{ post.street_view_photo }}" width="180px" height="80px">	
									{% endif %}		
								</a>
							</div>
						</div> 	
						<div class="place_type">
							{% if post.type == 'airport'%}
								<img src="{{ upload_dir.baseurl }}/airplain_1.png">
							{% else %}
								<img src="{{ upload_dir.baseurl }}/place_1.png">
							{% endif %}
							
						</div>
						<div class="posttitlr">
							<p style="margin-top: -10px; padding-top: 0px;">		
								<a class="search" href="{{ post.permalink }}">	
									{{ post.title }} 
									{% if post.iata %} 
										- {{ post.iata }}
									{% endif %}
								</a>
							</p>
							<a class="search" href="{{ post.permalink }}">	
								<div class="searchbutton">More...</div>
							</a>
								
						</div>							
          				</li>
				{% endfor %}
        	</ul>
        	{% else %}    		
				<h5 class="page-title">Sorry, no matches found </h1> 
			{% endif %}				
    </section><!-- /#main -->
</div><!-- /#content -->